body {
    width:810px;
    margin-left: auto;
    margin-right: auto;
    position: relative;
}

h1 {
    text-align: center;
}

#login-info {
    position: absolute;
    right: 0;
    padding-right: 10px;
}

.note-count {
    text-align: center;
}

.page-nav {
    text-align: center;
    padding-top: 5px;
    padding-bottom: 5px;
}

.nav-page-idx{
    margin-right: 5px;
}

.nav-page-current{
    font-weight: bold;
}

#notes {
    width: 800px;
    margin-left: auto;
    margin-right: auto;
    min-height: 200px;
}

.title {
    background-color: #BDF;
    padding-left: 5px;
    font-weight: bold;
    font-size: 14pt;
    min-height: 25px;
}

.message {
    padding-left: 25px;
    min-height: 50px;
}